<ul class="mission-data">
    <li>Name: <%=mission.name%></li>
    <li>Launch Date: <%=mission.launchDate%></li>
    <li>Operator: <%=mission.operator%></li>
    <li>Mission Type: <%=mission.missionType%></li>
    <img src=<%mission.img%>>
</ul>
